<p-toast></p-toast>

<div class="auth-bg auth-bg-register">
  <div class="auth-card auth-card-register">
    <div class="auth-stack">
      <h2 class="auth-title">Registro</h2>

      <input pInputText type="text" placeholder="Usuario" [(ngModel)]="usuario" />
      <p-message *ngIf="usuario !== '' && usuario.trim().length === 0"
                 severity="warn" text="Usuario no puede estar vacío"></p-message>

      <input pInputText type="email" placeholder="Email" [(ngModel)]="email" />
      <p-message *ngIf="email && !isEmailValid()"
                 severity="warn" text="Email inválido"></p-message>

      <input pInputText type="text" placeholder="Nombre completo" [(ngModel)]="nombreCompleto" />
      <p-message *ngIf="nombreCompleto !== '' && nombreCompleto.trim().length === 0"
                 severity="warn" text="Nombre completo requerido"></p-message>

      <input pInputText type="text" placeholder="Dirección" [(ngModel)]="direccion" />
      <p-message *ngIf="direccion !== '' && direccion.trim().length === 0"
                 severity="warn" text="Dirección requerida"></p-message>

      <p-inputMask mask="9999999999" placeholder="Teléfono (10 dígitos)" [(ngModel)]="telefono"></p-inputMask>
      <p-message *ngIf="telefono && !isPhoneValid()"
                 severity="warn" text="Teléfono inválido (10 números)"></p-message>

      <p-datepicker [(ngModel)]="fechaNacimiento"
                    placeholder="Fecha de nacimiento"
                    [showIcon]="true"></p-datepicker>

      <p-message *ngIf="fechaNacimiento && !isAdult()"
                 severity="error" text="Solo mayores de edad (18+)"></p-message>

      <p-password [(ngModel)]="password"
                  placeholder="Contraseña"
                  [toggleMask]="true"></p-password>

      <p-message *ngIf="password && password.length < 10"
                 severity="warn" text="Mínimo 10 caracteres"></p-message>

      <p-message *ngIf="password && password.length >= 10 && !hasSpecialSymbol(password)"
                 severity="warn" text="Debe incluir al menos 1 símbolo: ! @ # $ % ^ & *"></p-message>

      <p-password [(ngModel)]="confirmPassword"
                  placeholder="Confirmar contraseña"
                  [toggleMask]="true"></p-password>

      <p-message *ngIf="confirmPassword && !isConfirmValid()"
                 severity="error" text="Las contraseñas no coinciden"></p-message>

      <p-button class="auth-btn"
                label="Registrarme"
                severity="success"
                [disabled]="!canSubmit"
                (onClick)="register()"></p-button>

      <a class="auth-link" routerLink="/auth/login">Ya tengo cuenta → Login</a>
    </div>
  </div>
</div>