<aside class="sb">
  <!-- Brand -->
  <div class="brand">
    <div class="logo">A</div>

    <div class="brand-txt">
      <div class="title">Proyecto ERP</div>
      <div class="sub">Workspace activo</div>
    </div>
  </div>

  <!-- User -->
 <div class="user clickable-user" (click)="goToProfile()">
  <div class="avatar">{{ usuario.charAt(0) }}</div>

  <div class="user-txt">
    <div class="name">{{ usuario }}</div>
    <div class="role">Usuario activo</div>
  </div>
</div>

  <!-- Menu -->
  <nav class="menu">
    <div class="section">General</div>

    <a routerLink="/home" routerLinkActive="active" class="item">
      <span class="dot"></span>
      <span>Dashboard</span>
    </a>

    <div class="section">Gestión</div>

    <a routerLink="/group" routerLinkActive="active" class="item">
      <span class="dot"></span>
      <span>Grupos</span>
    </a>

    <a routerLink="/user" routerLinkActive="active" class="item">
      <span class="dot"></span>
      <span>Usuarios</span>
    </a>

    <div class="section">Módulos</div>

    <a
      routerLink="/ofertas"
      routerLinkActive="active"
      class="item disabled"
      tabindex="-1"
      aria-disabled="true"
    >
      <span class="dot"></span>
      <span>Ofertas (próx.)</span>
    </a>

    <a
      routerLink="/divisiones"
      routerLinkActive="active"
      class="item disabled"
      tabindex="-1"
      aria-disabled="true"
    >
      <span class="dot"></span>
      <span>Divisiones (próx.)</span>
    </a>
  </nav>

  <!-- Footer -->
  <div class="footer">
    <button
      pButton
      type="button"
      label="Cerrar sesión"
      severity="secondary"
      class="w-100"
      (click)="logout()"
    ></button>
  </div>
</aside>