<aside class="sb">
  <div class="brand">
    <div class="logo">A</div>

    <div class="brand-txt">
      <div class="title">Proyecto ERP</div>
      <div class="sub">Workspace activo</div>
    </div>
  </div>

  <div class="user clickable-user" (click)="goToProfile()">
    <div class="avatar">{{ usuario.charAt(0) }}</div>

    <div class="user-txt">
      <div class="name">{{ usuario }}</div>
      <div class="role">Usuario activo</div>
    </div>
  </div>

  <nav class="menu">
    <ng-container *ngFor="let group of menu">
      <div class="section">{{ group.section }}</div>

      <a
        *ngFor="let item of group.items"
        [routerLink]="item.path"
        routerLinkActive="active"
        class="item"
      >
        <span class="dot"></span>
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
  </nav>

  <div class="footer">
    <button
      pButton
      type="button"
      label="Cerrar sesión"
      severity="secondary"
      class="w-100"
      (click)="logout()"
    ></button>
  </div>
</aside>